@import '../../styles/common/variable.less';
.el-radarcom-message {
    padding: 30px;
    //title标题
    .el-radarcom-head {
        display: flex;
        justify-content: space-between;
        p {
            font-size: 20px;
            font-weight: 600;
        }
        button {
            font-size: 16px;
            width: 120px;
            height: 40px;
            color: @head;
            border: 1px solid @head;
            border-radius: 5px;
            cursor: pointer;
            outline: none;
        }
    }
}