@import '../../styles/common/variable.less';
.el-create-radar {
    /deep/.el-dialog__header {
        text-align: center;
        /deep/.el-dialog__title {
            font-size: 18px;
            font-weight: 600;
        }
    }
    /deep/.el-dialog__footer {
        text-align: center;
    }
    //创建雷达内容区
    .el-content {
       .el-radar-plate {
           display: flex;
        .el-add-palte {
                img {
                    width: 15px;
                    height: 15px;
                }
            }
       }
    }
}